<select id="select">
  <option value="A">A</option>
  <option value="B">B</option>
</select>

<div class="b">
  B が選択されました
</div>

<script>
const select = document.querySelector("#select")
select.addEventListener("change", () => {
  const b = document.querySelector(".b")
  if (select.value === "B") {
    b.style.visibility = "visible"
  } else {
    b.style.visibility = "hidden"  
  }
})
</script>